<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Detail mouvement du stock</h1>
          <!-- Table with stripped rows -->
          <table class="table datatable">
            <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Quantite</th>
              <th scope="col">Type mouvement</th>
              <th scope="col">Type commande</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">2022-02-22</th>
              <td>12</td>
              <td>entree</td>
              <td>COMMANDE CLIENT</td>
            </tr>

            </tbody>
          </table>
          <!-- End Table with stripped rows -->

        </div>
      </div>

    </div>
  </div>
</section>




