
<form class="row g-3" [formGroup]="categorieForm">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">creation de l'article</h5>
      <button type="button" class="btn-close me-1 p-1 float-end" aria-label="Close" (click)="cancel()"></button>
    </div>
    <div class="modal-body">

      <div class="col-md-12 mb-2">
        <input type="text" class="form-control" placeholder="Code categorie" formControlName="code">
      </div>
      <div class="col-md-12 mb-2">
        <input type="email" class="form-control" placeholder="Description" formControlName="designation">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary float-start" (click)="cancel()"><i class="bi bi-dash-circle-fill"></i>&nbsp; Annuler</button>
      <button type="reset" class="btn btn-secondary float-end" (click)="saveCategory()"><i class="bi bi-archive-fill"></i>&nbsp;Enregistrer</button>
    </div>
  </div>
</form>




