<div class="modal-content">
  <div class="modal-header p-1">
    <h5 class="modal-title font-weight-bold">Detail de la categorie<span class="ms-1">{{categoryDto.code}}</span></h5>
    <button type="button" class="btn-close me-1 p-1" aria-label="Close" (click)="cancle()"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6 mb-2">
        <div class="form-group">
          <label class="control-label field-font pb-1" for="code"> Code categorie</label>
          <input disabled type="text" class="form-control field-font-header p-1" name="code" id="code" value="{{categoryDto.code ? categoryDto.code : '-'}}"/>
        </div>
      </div>

      <div class="col-md-6 mb-2">
        <div class="form-group">
          <label class="control-label field-font pb-1" for="designation"> Designation</label>
          <input disabled type="text" class="form-control field-font-header p-1" name="designation" id="designation" value="{{categoryDto.designation ? categoryDto.designation : '-'}}"/>
        </div>
      </div>

      <div class="col-md-6 mb-2">
        <div class="form-group">
          <label class="control-label field-font pb-1" for="dateCreationArticle"> Date de création </label>
          <input type="text" disabled class="form-control field-font-header p-1" name="dateCreationArticle" id="dateCreationArticle" value="{{categoryDto.dateEnregistrement | dateHourFormat}}"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group form-check" *ngIf = "categoryDto.actif">
          <input type="checkbox" disabled class="form-check-input" id="isActif"  [checked]="categoryDto.actif">
          <label class="form-check-label field-font" for="isActif"><strong>Actif</strong></label>
        </div>
        <div class="form-group form-check" *ngIf = "!categoryDto.actif">
          <input type="checkbox" disabled class="form-check-input" id="isNotActif"  [checked]="categoryDto.actif">
          <label class="form-check-label field-font" for="isActif"><strong>Non Actif</strong></label>
        </div>
      </div>
    </div>
  </div>
</div>


