<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Detail Commande Fournisseur</h1>
          <button type="button" class="btn-close me-1 p-1 float-end" aria-label="Close" (click)="cancel()"></button>
          <!-- Table with stripped rows -->
          <table class="table datatable">
            <thead>
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Designation</th>
              <th scope="col">Quantite</th>
              <th scope="col">Prix unitaire</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">cm0</th>
              <td>appareils</td>
              <td>2</td>
              <td>100</td>
            </tr>

            </tbody>
          </table>
          <!-- End Table with stripped rows -->

        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary float-start" (click)="cancel()"><i class="bi bi-dash-circle-fill"></i>&nbsp; Annuler</button>
    <button type="reset" class="btn btn-secondary float-end">  <i class="bi bi-archive-fill"></i>&nbsp;Enregistrer</button>
  </div>
</section>

