<button type="button" class="btn-close me-1 p-1 float-end" aria-label="Close" (click)="cancel()"></button>

<form class="row g-3">
  <div class="modal-content">
    <div class="modal-header">

      <h5 class="modal-title">Creation de la Commande Fournisseur</h5>
    </div>
    <div class="modal-body">

      <div class="col-md-12 mb-2">
        <input type="text" class="form-control" placeholder="Code Commande">
      </div>
      <div class="col-md-12 mb-2">
        <input type="email" class="form-control" placeholder="Date Commande">
      </div>
      <div class="col-md-12 mb-2">
        <input type="password" class="form-control" placeholder="Etat Commamde">
      </div>
      <div class="col-md-12 mb-2">
        <select id="inputState" class="form-select">
          <option selected>Selectionner un fournisseur</option>
          <option>joelle</option>
          <option>armand</option>
        </select>
      </div>
      <div class="col-12 mb-2">
        <input type="text" class="form-control" placeholder="Quantite">
      </div>
      <div class="col-md-12 mb-2">
        <input type="text" class="form-control" placeholder="Prix Unitaire">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary float-start" (click)="cancel()"><i class="bi bi-dash-circle-fill"></i>&nbsp; Annuler</button>
      <button type="reset" class="btn btn-secondary float-end">  <i class="bi bi-archive-fill"></i>&nbsp;Enregistrer</button>
    </div>
  </div>
</form>




