<div class="pagetitle mt-3">
  <h1>Fournisseur</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/member/dashboard']" href="javascript:void(0)">Acceuil</a></li>
      <li class="breadcrumb-item active">Fournisseur</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<div >
  <button type="button" class="btn btn-primary mb-4" (click)="openModal()">
    <i class="bi bi-plus"></i>
    Nouveau Fournisseur
  </button>
</div>


<section class="section">

    <div class="row">
      <!--    Critere de recherche debut -->
      <div class="col-md-12">
        <div class="card">
          <div class="content mb-2">
            <div class="card-header card-header-padding">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="font-weight-bold">Rechercher</h5>
                <button class="btn btn-sm btn-primary" (click)="findAll()">
                  <span class="bi bi-search"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="searchForm">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label field-font">
                          Nom Fournisseur
                        </label>
                        <input type="text" class="form-control" placeholder="Entrer le nom"
                               formControlName="nom">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label field-font">
                          Code Fournisseur
                        </label>
                        <input type="text" class="form-control" placeholder="Entrer le code" formControlName="code">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label field-font">
                          Statut
                        </label>
                        <select class="form-control" formControlName="actif">
                          <option [value]="''" selected>Tous</option>
                          <option [value]="true">Actif</option>
                          <option [value]="false">Non Actif</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label field-font">
                          Nombre de Résultat
                        </label>
                        <select class="form-control" formControlName="nombreDeResultat">
                          <option value="10">10</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                          <option value="200">200</option>
                          <option value="500">500</option>
                          <option value="1000">1000</option>
                          <option value="-1">Tous</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>





        </div>
      </div>
      <!--    Critere de recherche fin -->

    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Liste des Fournisseurs</h1>

          <!-- Table with stripped rows -->
          <table class="table datatable">
            <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Code fournisseur</th>
              <th scope="col">Nom</th>
              <th scope="col">Prenom</th>
              <th scope="col">Telephone</th>
              <th scope="col">Email</th>
              <th scope="col">Etat</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fournisseur of fournisseurList; let i = index">
              <td>{{i +1 }}</td>
              <td>{{fournisseur.code != null ? fournisseur.code : '-'}}</td>
              <td>{{fournisseur.nom != null ? fournisseur.nom : '-'}}</td>
              <td>{{fournisseur.prenom != null ? fournisseur.prenom : '-'}}</td>

              <td>{{fournisseur.numTel != null ? fournisseur.numTel : '-'}}</td>
              <td>{{fournisseur.mail != null ? fournisseur.mail : '-'}}</td>
              <!--              <td>{{client.adresse != null ? client.adresse : '-'}}</td>-->
              <td>
                <button [disabled]="true" *ngIf = "fournisseur?.actif" class = "btn btn-sm btn-success">Actif</button>
                <button [disabled]="true" *ngIf = "!fournisseur?.actif" class = "btn btn-sm btn-danger">Non Actif</button>
              </td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">Action</button>
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="updateFournisseur(fournisseur)">Modifier</a></li>
                    <li><a class="dropdown-item" href="#">Detail</a></li>
                    <li><a class="dropdown-item" href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
          <!-- End Table with stripped rows -->

        </div>
      </div>

    </div>
  </div>
</section>



