<div class="pagetitle mt-3">
  <h1>Fournisseur</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/member/dashboard']" href="javascript:void(0)">Acceuil</a></li>
      <li class="breadcrumb-item active">Fournisseur</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<div >
  <button type="button" class="btn btn-primary mb-4" (click)="openModal()">
    <i class="bi bi-plus"></i>
    Nouveau Fournisseur
  </button>
</div>


<section class="section">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="content mb-2">
            <div class="card-header card-header-padding">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="font-weight-bold">Rechercher</h5>
                <button class="btn btn-sm btn-primary" (click)="findAll()">
                  <span class="bi bi-search"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="searchForm">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Entrer l'identifiant"
                               formControlName="id">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Entrer le nom" formControlName="nom">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <select class="form-control"  formControlName="itemsPerPage">
                          <option value="10">5</option>
                          <option value="50">25</option>
                          <option value="100">50</option>
                          <option value="-1">Tous</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Liste des Fournisseurs</h1>

          <!-- Table with stripped rows -->
          <table class="table datatable">
            <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prenom</th>
              <th scope="col">Telephone</th>
              <th scope="col">Adresse</th>
              <th scope="col">Code postal</th>
              <th scope="col">Pays</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">Noupeyou</th>
              <td>ornela</td>
              <td>652125456</td>
              <td>rue 1025</td>
              <td>1012</td>
              <td>Cameroun</td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">Action</button>
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Modifier</a></li>
                    <li><a class="dropdown-item" href="#">Detail</a></li>
                    <li><a class="dropdown-item" href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Kouanang</th>
              <td>Joelle</td>
              <td>665254521</td>
              <td>rue chateau</td>
              <td>5220 </td>
              <td>France</td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">Action</button>
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Modifier </a></li>
                    <li><a class="dropdown-item" href="#">Detail</a></li>
                    <li><a class="dropdown-item" href="#">Supprimer</a></li>
                  </ul>
                </div>
              </td>
            </tr>
<!--            <app-boutton-action (clickEvent)="nouveauFournisseur()"></app-boutton-action>-->
            </tbody>
          </table>
          <!-- End Table with stripped rows -->

        </div>
      </div>

    </div>
  </div>
</section>



